<div id="horizontal-bar-container">
    <a routerLink="">
        <div id="logo" class="items">
            
                <fa-icon [icon]="faEthernet"></fa-icon>
                <div class="items-text-container">
                    <span>Network</span>
                </div>
        </div>
    </a>    
    <!-- <div id="search-bar-container"> 
        <input id=""type="text" id="search-bar">
        <button id="search"><fa-icon [icon]="faSearch"></fa-icon></button>
    </div>
    <div id="bell">
        <fa-icon [icon]="faBell"></fa-icon>
    </div> -->
</div>